.JoinPage{
    background-color: rgb(51, 51, 51);
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.JoinContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.JoinContainer img{
    width: 10vmax;
    border-radius: 100vmax;
    
}
.JoinContainer h1{
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom: .2vmax solid white;
    text-align: center;
    padding: 1vmax;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border-radius: 2vmax;
}

#JoinInput{
    width: 25vmax;
    padding: 1.2vmax;
    outline: none;
    border: none;
    font-size: 1.2vmax;
    margin: 2.5vmax;
    box-sizing: border-box;
    border-radius: 2vmax;
    padding-left: 2vmax;
}
.Joinbtn{
    width: 25vmax;
    padding: 1.2vmax;
    color: white;
    outline: none;
    border: none;
    font-size: 1.2vmax;
    cursor: pointer;
    transition: all 0.3s;
    background-color: rgb(207, 49, 81);
    border-radius: 2vmax;

}

.Joinbtn:hover{
    background-color: crimson;
}